* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--first-color: rgb(250, 20, 6);
	--second-color: rgb(190, 210, 197);
	--hover-color: rgb(209, 33, 24);
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}
.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5rem;
	width: 80rem;
	background-image: radial-gradient(circle, rgb(43, 44, 46) 0%, rgb(25, 25, 25) 93%);
	border-radius: 8px;
	box-shadow: 5px 5px 10px #000;
	color: #fff;
	overflow: hidden;
}

.info__icon {
	font-size: 2.4rem;
	position: absolute;
	top: 0.6rem;
	padding: 2rem;
	color: var(--second-color);
	cursor: pointer;
	transition: color 0.3s;

	&:first-of-type {
		right: 1rem;
	}

	&:last-of-type {
		right: 7rem;
	}

	&:hover {
		color: var(--first-color);
	}
}

.header {
	margin-bottom: 2rem;
	font-size: 6rem;
	font-weight: lighter;
}

.stopwatch {
	font-size: 7.2rem;
	color: var(--first-color);
}

.time {
	visibility: hidden;
	color: var(--second-color);
	font-size: 2.2rem;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 3rem;
}
.btn {
	margin: 1rem;
	padding: 1rem 2rem;
	width: 20%;
	color: #fff;
	font-size: 2.2rem;
	background-color: transparent;
	border: 1px solid var(--first-color);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover,
	&:focus {
		background-color: var(--first-color);
		outline: none;
	}
}

.history {
	flex-grow: 1;
	text-transform: uppercase;
}

.time-list {
	li {
		display: flex;
		justify-content: space-between;
		width: 30rem;
		font-size: 2.2rem;
		color: var(--second-color);
	}
	span {
		font-weight: bold;
	}
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60rem;
		height: 36rem;
		padding: 3rem 6rem;
		border-radius: 15px;
		background-color: rgb(245, 245, 245);

		&__text {
			margin-bottom: 2rem;
			font-size: 3rem;
		}

		&__p {
			margin-bottom: 1rem;
			margin-left: 2rem;
			font-size: 2rem;
		}

		&__close {
			display: block;
			margin: 3rem auto 1rem;
			width: 20rem;
			background-color: var(--first-color);
			transition: background-color 0.3s;

			&:hover {
				background-color: rgb(226, 36, 26);
			}
		}
	}
}

.modal-animation {
	animation: show-modal 0.5s;
}

@keyframes show-modal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* zmiana kolorów */
.colors {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 10rem;
	right: -10rem;
	width: 6.4rem;
	height: 22rem;
	transition: transform 0.3s;
}

.color {
	width: 4rem;
	height: 4rem;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.show-colors {
	transform: translateX(-11rem);
}

.one {
	background-color: rgb(250, 20, 6);
	box-shadow: 0 0 8px rgb(250, 20, 6);

	&:hover {
		background-color: rgb(209, 33, 24);
		box-shadow: 0 0 16px rgb(250, 20, 6);
	}
}

.two {
	background-color: rgb(6, 173, 250);
	box-shadow: 0 0 8px rgb(6, 173, 250);

	&:hover {
		background-color: rgb(28, 145, 199);
		box-shadow: 0 0 16px rgb(6, 173, 250);
	}
}

.three {
	background-color: rgb(0, 255, 42);
	box-shadow: 0 0 8px rgb(0, 255, 42);

	&:hover {
		background-color: rgb(28, 209, 58);
		box-shadow: 0 0 16px rgb(0, 255, 42);
	}
}
